h1 {
    background: royalblue;
    color: white;
    padding: 16px;
}

.my-image {}

div {
    background: lightcyan;
    padding: 16px;
    margin-bottom: 8px;
}

img {
    padding: 8px;
    margin: 8px;

    border-radius: 50%;
}

.my-para {
    font-size: 21px;
    text-align: justify;
}